.message {
  background: white;
  border-radius: 2px;
  position: relative;
  min-height: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.message-bubble {
  position: absolute;
  right: 14px;
  bottom: -18px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 5px solid transparent;
  border-top: 20px solid white;
}
