.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #f0a43b;
  border: 2px solid black;
  color: white;
  font-size: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  box-sizing: border-box;
}

.statistics-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.statistics-data {
  padding: 2px 14px;
}

.separator {
  height: 2px;
  background: black;
  margin: 10px;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .statistics {
    font-size: 16px;
  }
}
